#showtimesSection, #ageSection, #quantitySection, #ticketBox {
  display: none;
}

#ticketTitle {
  text-align: center;
  border-bottom: 2px solid #4e4e4e;
  margin-bottom: 20px;
}

.thumbnail {
  max-height: 150px;
  display: block;
  margin: 0 auto;
}

label, h5{
  color: white;
}

.modal-title {
  color: #000;
}

body {
  background-image: url(../img/darkness.png);
}

input[type="radio"]:hover, label:hover {
  cursor: pointer;
}

.title img {
  width: 80%;
  max-width: 690px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.now-showing img {
  max-width: 100%;
}
